<mat-grid-list cols="4"  rowHeight="1:2" > 

<ng-template triggers="focus" #popTemplate>
    
        <mat-form-field appearance="outline">
            <input matInput value="0" type="number" [(ngModel)]="quantity">
        </mat-form-field>
    
    <span>
        <button mat-button *ngIf="quantity>0" (click)="addToCart()" innerHtml="{{html}}"></button>
    </span>
</ng-template>

<mat-card-content >
    <button container="body" type="button" class="btn" mat-button [popover]="popTemplate"
        popoverTitle="How many of this you need?" [outsideClick]="true" popover-append-to-body="true" placement="left">
        <mat-card>

            <img mat-card-sm-image src="http://localhost:4000/products/upload/{{product.imageName}}.png"
                alt="{{product.productName}}">
            <mat-card-content class="card-content">
                <p>{{product.productName|titlecase}}
                    {{product.price|currency:'ILS'}}
                </p>
            </mat-card-content>
        </mat-card>


    </button>
</mat-card-content>



</mat-grid-list>