<mat-grid-list cols="1"  rowHeight="fit"  > 

<ng-template triggers="focus" #popTemplate>
    
        <mat-form-field appearance="outline">
            <input matInput value="0" type="number" [(ngModel)]="quantity">
        </mat-form-field>
    
    <span>
        <button mat-button *ngIf="router.url=='/adminview'"> </button>
        <button mat-button *ngIf="quantity>0" (click)="addToCart()" innerHtml="{{html}}"></button>
    </span>
</ng-template>

<mat-card-content *ngIf="router.url!='/adminview'" >
    <button container="body" type="button" class="btn" mat-button [popover]="popTemplate"
        popoverTitle="How many of this you need?" [outsideClick]="true" popover-append-to-body="true" placement="left">
        <mat-card style="justify-content: right;">

            <img style="width: 100px
            ;" mat-card-sm-image src="http://localhost:4000/products/upload/{{product.imageName}}.png"
                alt="{{product.productName}}">
            <mat-card-content class="card-content">
                <p>{{product.productName|titlecase}}
                    {{product.price|currency:'ILS'}}
                </p>
            </mat-card-content>
        </mat-card>


    </button>
</mat-card-content>

<mat-card-content *ngIf="router.url=='/adminview'"  (click)="addToCart()"  >
    <button  container="body" type="button" class="btn" mat-button>
        <mat-card>

            <img mat-card-sm-image src="http://localhost:4000/products/upload/{{product.imageName}}.png"
                alt="{{product.productName}}">
            <mat-card-content class="card-content">
                <p>{{product.productName|titlecase}}
                    {{product.price|currency:'ILS'}}
                </p>
            </mat-card-content>
        </mat-card>
    </button>
</mat-card-content>


</mat-grid-list>