<app-logo></app-logo>
<mat-grid-list cols="1" class=" loginCard">
    <div class="row"></div>
    <mat-grid-tile colspan="1" >
        <div style="flex-direction: column;">
            <h1 *ngIf="!token">Welcome Please Login</h1>
            <h1 *ngIf="token">Enjoy the shop!</h1>
        </div>

        <button *ngIf="isAdmin" [routerLink]='["/adminview"]'>Welcome Admin<br> start </button>
        <button *ngIf="!isAdmin" [routerLink]="['/home']" [disabled]="!token">Start Shopping /<br>resume existing
            one..</button>
        <div *ngIf="!token">
            <p>{{errors?.error|json}}</p>
            <input type="email" [(ngModel)]="email" placeholder="User Name" required><br><br>
            <input type="password" [(ngModel)]="password" placeholder="password" required>
            <button (click)=onLogin()>Login</button>&nbsp; <a routerLink='/register'>Sign Up</a>
        </div>
        
    </mat-grid-tile >
   
    <mat-grid-tile *ngIf="token" class="row" >
        <mat-list-item   *ngFor="let item of userCart">{{item|json}}</mat-list-item>
    </mat-grid-tile>
</mat-grid-list>