
<form *ngIf="cartItems.length>0" name="f" #f="ngForm" (ngSubmit)="validateForm()" >
  <h2 style="border-bottom: 3px solid;">Order</h2>
<h3 style="border-bottom: 3px solid;">Shipping Details</h3>
  <p style="width: 600px;" matInput>
    <mat-form-field class="form-group"  appearance="outline">
      <mat-label>City</mat-label>
      <mat-select [(ngModel)]="orderDetails.city" name="city" class="form-control" required #city="ngModel">
        <mat-option>double click for you current signed city</mat-option>
        <mat-option *ngFor="let city of cities" [value]="city">{{city}}
        </mat-option>
      </mat-select>
      <mat-hint (dblclick)="setUserInfo(customerDetails.city)" style="font: bolder;">Double click for preset<mat-icon>
          sentiment_satisfied</mat-icon>
      </mat-hint>

      <div class="form-group" *ngIf="city.errors && (city.dirty || city.touched)">
        <p *ngIf="city.errors?.required">city is required</p>
      </div>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard" class="form-group" [ngClass]="{
    'has-danger': street.invalid && (street.dirty || street.touched),
    'has-success': street.valid && (street.dirty || street.touched)
}">
      <mat-label>street</mat-label>
      <input matInput type="text" name="street" #street="ngModel" required minlength="3" class="form-control"
        placeholder="outline" [(ngModel)]="orderDetails.street" (dblclick)="setUserInfo(customerDetails.street)">
      <mat-icon matSuffix>sentiment_satisfied</mat-icon>
      <mat-hint>hashmonai 36..</mat-hint>
      <div class="form-group" *ngIf="street.errors && (street.dirty || street.touched)">
        <p *ngIf="street.errors?.required">street is required</p>
      </div>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Date to deliver?</mat-label>
      <input matInput (change)="checkDate()" required name="date" #date="ngModel" class="form-control date-input"
        minlength="3" [(ngModel)]="orderDetails.deliveryDate" matInput type="date" placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_satisfied</mat-icon>

      <div *ngIf="date.errors?.value">{{date.errors?.value}}</div>
      <div class="form-group" *ngIf="date.errors && (date.dirty || date.touched)">
        <p *ngIf="date.errors?.required">{{date.errors.value|json}}</p>
      </div>
    </mat-form-field>
  </p>
  <h3 style="border-bottom: 3px solid;">Payment</h3>
  <p>
    <mat-form-field required appearance="outline">
      <mat-label>credit-Card</mat-label>
      <input matInput type="number" (change)="validateCreditCardNumber()" required minlength="10" [(ngModel)]="creditCard" name="creditCard"  
         class="form-control number-input" placeholder="12345678910...">
      <mat-icon matSuffix>sentiment_sad</mat-icon>
      <mat-hint>masterCard,Visa,Express..</mat-hint>


    </mat-form-field>
    <mat-hint class="form-group" *ngIf="form?.controls.creditCard?.errors" style="color: rgb(216, 15, 15); font-size: 15px; font-style: oblique;">{{errors}}
    </mat-hint>
  </p>
  <button  type="submit" class="form-control btn btn-primary" (change)="validateCreditCardNumber()" [disabled]="f.invalid">
    Order 
  </button>
  {{f.valid}},{{isValid}}
</form>