<app-logo (searchResultEvent)="setProducts($event)"></app-logo>

<mat-drawer-container style="background-color: rgb(87,223,111);"  >
    <mat-drawer mode="side" [opened]="cartBarOpen">
        <app-mycart [cartDetails]='cart' [cartProducts]="cartItems"></app-mycart >
    </mat-drawer >
   
    <app-header  (toggleUserCart)='cartToggler()' [cartBarOpen]='cartBarOpen'></app-header>
    <app-products-nav (productsEvent)="setProducts($event)" ></app-products-nav>
    <app-products [products]="products"></app-products>
    <h1 *ngIf="errors">{{errors}}</h1>
</mat-drawer-container>




<!-- <p>shopping-page works!</p>
    <div class="row">
        <div class="col app-cart">
            <mat-drawer-container>
                <mat-drawer mode="side" open="true">
                   
                </mat-drawer>
                <mat-drawer-content></mat-drawer-content>
            </mat-drawer-container>
            <app-mycart [cartDetails]='cart'></app-mycart>
        </div>
        <div class="col"><app-products-nav></app-products-nav></div>
    </div>
<h1 *ngIf="errors">{{errors}}</h1> -->