<app-logo class="applogo" (searchResultEvent)="setProducts($event)"></app-logo>

<mat-drawer-container  style="background-color: rgb(87, 223, 112);margin-left: 0px;">
   
    <mat-drawer mode="side" [opened]="!cartBarOpen" style=" background-color: rgb(87,223,112); min-height: max-content;">
        <app-mycart  [cartDetails]='cart' [cartProducts]="cartItems"></app-mycart>
    </mat-drawer>
    

    

    <app-products-nav  (productsEvent)="setProducts($event)"></app-products-nav>
    <div class="container" >
        <app-header (toggleUserCart)='cartToggler()' [cartBarOpen]='cartBarOpen' ></app-header>
    </div>
    
        <app-products  [products]="products" ></app-products>
        <h1 *ngIf="errors">{{errors}}</h1>
   
</mat-drawer-container>




<!-- <p>shopping-page works!</p>
    <div class="row">
        <div class="col app-cart">
            <mat-drawer-container>
                <mat-drawer mode="side" open="true">
                   
                </mat-drawer>
                <mat-drawer-content></mat-drawer-content>
            </mat-drawer-container>
            <app-mycart [cartDetails]='cart'></app-mycart>
        </div>
        <div class="col"><app-products-nav></app-products-nav></div>
    </div>
<h1 *ngIf="errors">{{errors}}</h1> -->