/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }  */

/* .app-cart{
  max-width: 20%;
} */

html, body { height: 100%;margin: 0px;background-image: url("http://i.imgur.com/HwvK2FJ.png?size=130"); }
body { font-family: Roboto, "Helvetica Neue"; } 

.highlight {
  background-color: violet;
  font-weight: bold;
}