<p>register works!</p>
<form *ngIf="visible" (ngSubmit)="firstStep()" #f="ngForm">
  <h2>New Product</h2>
  <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->

  <p>Password:</p>
  <input type="password" [(ngModel)]="customer.password" name="password" placeholder="Password" class="form-control"
    required #password="ngModel" />
  <div *ngIf="password.invalid && (confirmpassword.dirty || password.touched)" class="alert alert-danger">
    <div *ngIf="password.errors.required"> Password is required. </div>
    <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and
      at least 8 or more characters.</div>
  </div>

  <br>

  <p>confirm password</p>
  <input type="password" [(ngModel)]="customer.confirmpassword" name="confirmpassword" placeholder="Confirm Password"
    class="form-control" required pattern="{{ password.value }}" #confirmpassword="ngModel" />
  <div *ngIf=" confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
    class="alert alert-danger">
    <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
    <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
  </div>

  <p>
  <P>id:</P>
  <input type="text" [(ngModel)]="customer.id" name="id" #id="ngModel" required pattern="^[0-9]*$" minlength="9"
    maxlength="10" />

  <span *ngIf="id.errors && (id.dirty || id.touched)">
    <span *ngIf="id.errors.required">Missing id</span>
    <span *ngIf="id.errors.pattern">only numbers!</span>
    <span *ngIf="id.errors.maxlength">maximum 10 character on id</span>
    <span *ngIf="id.errors.minlength">minimum 9 characters on id</span>
  </span>





  <p>
    email:
    <input type="text" [(ngModel)]="customer.email" name="email" required pattern="[^ @]*@[^ @]*" minlength="8"
      #email="ngModel" />
    <span *ngIf="email.errors && (email.dirty || email.touched)">
      <span *ngIf="email.errors.required">Missing email</span>
      <span *ngIf="email.errors.pattern">must contain @</span>
      <span *ngIf="email.errors.minlength">please fill </span>
    </span>
  </p>
  <pre>{{errors|uppercase}}</pre>
  <p>
    <input type="submit" value="next" [disabled]="f.invalid||!visible" />
  </p>
</form>

<form *ngIf="!visible" (ngSubmit)="onRegister()" #f2="ngForm">
  <p>its working!!!!!</p>

  <p>
    Name:
    <input [(ngModel)]="customer.firstName" name="firstName" required #CustomerBox="ngModel" minlength="2"
      maxlength="50" />
    <span *ngIf="CustomerBox.errors && (CustomerBox.dirty || CustomerBox.touched)">
      <span *ngIf="CustomerBox.errors.required">Missing name</span>
      <span *ngIf="CustomerBox.errors.minlength">Too short</span>
    </span>
  </p>
  <p>
    Last Name:
    <input [(ngModel)]="customer.lastName" name="lastName" required #lastName="ngModel" minlength="2" maxlength="50" />
    <span *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
      <span *ngIf="lastName.errors.required">Missing lastname</span>
      <span *ngIf="lastName.errors.minlength">Too short</span>
      <span *ngIf="lastName.errors.maxlength">Too long</span>
    </span>
  </p>
  <p>
    city:
    <select [(ngModel)]="customer.city" name="city" required #city="ngModel">
      <option value="">Select a language</option>
      <option *ngFor="let city of cities" [value]="city">{{city|json}}</option>
    </select>
    <span *ngIf="city.errors && (city.dirty || city.touched)">
      <span *ngIf="city.errors.required">Missing city</span>
    </span>
  </p>
  <p>
    street:
    <input [(ngModel)]="customer.street" name="street" #street="ngModel" required minlength="3" />
    <span *ngIf="street.errors && (city.dirty||city.touched)">
      <span *ngIf="street && !street">Missing street</span>
      <span *ngIf="street.errors.minlength">too short!</span>
    </span>
  </p>
  <p>
    <input type="submit" value="register" [disabled]="f2.invalid" routerLink='/register' />
  </p>
</form>