
    
    <div class="container myHeader">     
           
           
            <p class="animated_div">HA-MARKOL </p>
           
           
            <form style="position: relative; z-index: 1;top: 297px;left: 248px;" *ngIf="router.url==='/home'"  (ngSubmit)="search()"
                #f="ngForm">
                <span class="spacer"> 
                <input class='search-input' type="search" [(ngModel)]='productToSearch' name="productToSearch"
                    class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                <input style="padding: 3px;" type="submit" value="Search"></span>
            </form>
       
            <mat-toolbar class="search-bar" *ngIf="router.url==='/order'">
                <span>Search in recipt...</span>
                <span class="spacer"></span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                <mat-form-field  class="form-field">
                  <input  [(ngModel)]='searchRecipt' matInput (input)="onSearch()" />
                </mat-form-field>
              </mat-toolbar>

        

        
    </div>
